.BringShoppingList {
	height: 100%;
	padding: 5px;
	box-sizing: border-box;
	overflow-y: scroll;
}

.BringShoppingList .shoppingList-fetch-failed {
	width: 100%;
	text-align: center;
	font-size: 2em;
	height: 50px;
	margin-top: 5px;
	min-height: 50px;
}

.BringShoppingList .tile{
	background: var(--secondary);
}

