.BringShoppingList {
	height: 100%;
	padding: 5px;
	box-sizing: border-box;
	overflow-y: scroll;
}

.BringShoppingList .shoppingList-fetch-failed {
	width: 100%;
	text-align: center;
	font-size: 2em;
	height: 50px;
	margin-top: 5px;
	min-height: 50px;
}

.BringWidgetError {
    color: darkred;
    font-size: 1.5em;
    font-weight: bold;
}

.BringShoppingItemIcon {
	max-height: 4.5em;
	max-width: 4.5em;
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
}

.BringShoppingTile_imgCont {
	height: 5em;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

.tileContainer {
	display: flex;
	flex-flow: wrap;
}

.tile{
	width: 5em;
	min-width: 5em;
	height: 6em;
	box-shadow: none;
	display: block;
	margin: 2px;
	text-align: center;
	padding: 5px;
	overflow: hidden;
	background: var(--secondary);
}
