.BringShoppingList {
	width: 100%;
	height: 100%;
	background-color: #636363;
	padding: 5px;
	box-sizing: border-box;
	overflow-y: scroll;
	color: #d1d1d1;
}

.BringShoppingList .bringIcons {
	width: 100%;
	font-size: 1.5em;
}

.BringShoppingList .shoppingList-fetch-failed {
	width: 100%;
	text-align: center;
	font-size: 2em;
	height: 50px;
	margin-top: 5px;
	min-height: 50px;
}

.bringItemIcon {
	max-height: 60px;
	max-width: 60px;
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
}
.BringShoppingList_imgCont {
	height: 75px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

.BringShoppingList_list_item {
	width: 80px;
	color: #d1d1d1;
	background: lightslategray;
	font-size: 1em;
	margin: 2px;
	float: left;
	text-align: center;
	padding: 5px;
	overflow: hidden;
	font-size: 1em;
}
